web-decoder-flow.json
[
    {
        "id": "f6755db8.da6748",
        "type": "tab",
        "label": "Web decoder",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24738581.8f23f2",
        "type": "http response",
        "z": "f6755db8.da6748",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "44787b67.025ed4",
        "type": "ais-decoder",
        "z": "f6755db8.da6748",
        "name": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "a78766c5.f4b24"
            ]
        ]
    },
    {
        "id": "bb9b126d.0c53e",
        "type": "function",
        "z": "f6755db8.da6748",
        "name": "Trim",
        "func": "if (msg.payload.message) {\n    msg.payload = msg.payload.message.trim();\n} else msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "690d0dbe.6270f4"
            ]
        ]
    },
    {
        "id": "969b4057.05a828",
        "type": "template",
        "z": "f6755db8.da6748",
        "name": "Results table",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<table style=\\\"width:50%\\\">\n<tr><td>Original AIS message:</td><td style=\"font-family:courier;\">{{originalAisMessage}}</td></tr>\n<tr><td>Message type:</td><td>{{payload.messageType}}</td></tr>\n<tr><td>Mobile Marine Service identifier:</td><td>{{payload.senderMmsi}}</td></tr>\n\n{{#payload.navigationStatus}}\n<tr><td>Navigation status:</td><td>{{payload.navigationStatus}}</td></tr>\n{{/payload.navigationStatus}}\n\n{{#payload.name}}\n<tr><td>Vessel name:</td><td>{{payload.name}}</td></tr>\n{{/payload.name}}\n\n{{#payload.callsign}}\n<tr><td>Callsign:</td><td>{{payload.callsign}}</td></tr>\n{{/payload.callsign}}\n\n{{#payload.latitude}}\n<tr><td>Latitude:</td><td>{{payload.latitude}}</td></tr>\n{{/payload.latitude}}\n\n{{#payload.longitude}}\n<tr><td>Longitude:</td><td>{{payload.longitude}}</td></tr>\n{{/payload.longitude}}\n\n{{#payload.speedOverGround}}\n<tr><td>Speed over ground:</td><td>{{payload.speedOverGround}}</td></tr>\n{{/payload.speedOverGround}}\n\n{{#payload.courseOverGround}}\n<tr><td>Course over ground:</td><td>{{payload.courseOverGround}}</td></tr>\n{{/payload.courseOverGround}}\n\n{{#payload.turningDirection}}\n<tr><td>Turning direction:</td><td>{{payload.turningDirection}}</td></tr>\n{{/payload.turningDirection}}\n\n{{#payload.turningRate}}\n<tr><td>Turning rate:</td><td>{{payload.turningRate}}</td></tr>\n{{/payload.turningRate}}\n\n</table>\n<br><br>\n",
        "output": "str",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "b390488e.581d"
            ]
        ]
    },
    {
        "id": "d13c6e34.0b70e",
        "type": "comment",
        "z": "f6755db8.da6748",
        "name": "Online AIS decoder",
        "info": "# Online AIS Message Decoder\n# \nGo to http://your.own.ip.address:1880/aisdecode then enter an AIS message and click Decode.\n\nThe Results Table node can be configured to display more of the decoded information.\nNote that there's a bug in that template - it does not display data if the data evaluates to \"false\" - so if a vessel's course happens to be due North (zero degrees), it will not be displayed.",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "a6ae6b68.96b3",
        "type": "template",
        "z": "f6755db8.da6748",
        "name": "Error table",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<table style=\\\"width:30%; border: 1px solid red;\\\">\n<tr><td style=\"border: 1px solid red;\">Original AIS message:</td><td style=\"font-family:courier; border: 1px solid red;\">{{originalAisMessage}}</td></tr>\n<tr><td style=\"border: 1px solid red;\">Decode error:</td><td style=\"border: 1px solid red;\">{{errorInfo}}</td></tr>\n</table>\n<br><br>\n",
        "output": "str",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "b390488e.581d"
            ]
        ]
    },
    {
        "id": "1ad9cc4e.a321dc",
        "type": "http in",
        "z": "f6755db8.da6748",
        "name": "",
        "url": "/aisdecode",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "bb9b126d.0c53e"
            ]
        ]
    },
    {
        "id": "690d0dbe.6270f4",
        "type": "split",
        "z": "f6755db8.da6748",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "44787b67.025ed4"
            ]
        ]
    },
    {
        "id": "a78766c5.f4b24",
        "type": "switch",
        "z": "f6755db8.da6748",
        "name": "",
        "property": "resultCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "969b4057.05a828"
            ],
            [
                "b390488e.581d"
            ],
            [
                "b390488e.581d"
            ],
            [
                "a6ae6b68.96b3"
            ]
        ]
    },
    {
        "id": "b390488e.581d",
        "type": "join",
        "z": "f6755db8.da6748",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "1c255446.6d553c"
            ]
        ]
    },
    {
        "id": "1c255446.6d553c",
        "type": "template",
        "z": "f6755db8.da6748",
        "name": "Main page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable, th, td {\n  border: 1px solid black;\n  border-collapse: collapse;\n  padding: 15px;\n  text-align: left;\n}\n</style>\n</head>\n\n<body>\n<h1>Simple online AIS decoder</h1>\n<p>Enter one or more AIS messages, then click \"Decode\".<br>\nExample message: !AIVDM,1,1,,B,33P7k`@Oi?wVpv0PB7@=`bw`00pA,0*7B</p>\n<p>Only a subset of the available decoded data is diaplayed.\nModify the <i>Results table</i> template to change the displayed information.</p>\n\n<form action=\"/aisdecode\">\n<textarea name=\"message\" rows=\"10\" cols=\"100\"></textarea><br>\n<input type=\"submit\" value=\"Decode\">\n</form>\n<br><br>\n{{{payload}}}\n\n</body>\n</html>\n",
        "output": "str",
        "x": 830,
        "y": 460,
        "wires": [
            [
                "24738581.8f23f2"
            ]
        ]
    }
]
