examples/sample-file-flow.json
[
    {
        "id": "950abffd.4f08b8",
        "type": "tab",
        "label": "Sample file",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fdc840bf.b0bd9",
        "type": "file in",
        "z": "950abffd.4f08b8",
        "name": "Sample File",
        "filename": "/home/pi/node-red-contrib-ais-decoder/nmea-sample",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "b2dec9b.ddf75b8"
            ]
        ]
    },
    {
        "id": "6966f255.365a94",
        "type": "inject",
        "z": "950abffd.4f08b8",
        "name": "Timestamp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "fdc840bf.b0bd9"
            ]
        ]
    },
    {
        "id": "b2dec9b.ddf75b8",
        "type": "ais-decoder",
        "z": "950abffd.4f08b8",
        "name": "",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "dbf2135d.3486d8"
            ]
        ]
    },
    {
        "id": "dbf2135d.3486d8",
        "type": "switch",
        "z": "950abffd.4f08b8",
        "name": "",
        "property": "resultCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "d7e067eb.11877"
            ],
            [
                "ac719f74.bc8b78"
            ],
            []
        ]
    },
    {
        "id": "d7e067eb.11877",
        "type": "debug",
        "z": "950abffd.4f08b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "ac719f74.bc8b78",
        "type": "function",
        "z": "950abffd.4f08b8",
        "name": "Filter",
        "func": "// Use this node to filter messages.\n// The code below only allows type 5 messages through.\n\nif (msg.payload.messageType==5) { \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "2906c0f4.27b318"
            ]
        ]
    },
    {
        "id": "2906c0f4.27b318",
        "type": "debug",
        "z": "950abffd.4f08b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "93a77705.0c5ac",
        "type": "comment",
        "z": "950abffd.4f08b8",
        "name": "Sample file decoding",
        "info": "# AIS Message File Decoding\n# \nEdit the Sample File node to specify a file of AIS messages to process. Use the Filter node to pick out particular message types you are interested in. Click the button on the Timestamp node to initiate the decode.\n\nA large sample file of AIS messages can be found at the [AIS Hub](http://www.aishub.net/downloads/nmea-sample.zip).",
        "x": 160,
        "y": 100,
        "wires": []
    }
]